@{
    ViewBag.Title = "Home Page";
}

<article class="articleEntry container">

    <div class="articleSideBar niceOrange">-</div>

    <div class="articleContent">

        <div class="articleThumbnail thumbnail articleItemSpacing">
            image
        </div>

        <div class="articleHeadline articleItemSpacing">
            sdaçldkfh sldikfildfifjn kdljooie
        </div>

        <div class="articleIntro articleItemSpacing">
            talskdfjksd skckcvhjdv sdldfhjsldfkh ldksdkljf jslidfjkl sdf sdkldfsjisen ffosifd sdljkfaçlksadosdf h
            afsdfj nsdçisdhnpaosdfiu pn pdsfo n
        </div>
    </div>

</article>


<article class="articleEntry container">

    <div class="articleSideBar nicePurple">-</div>

    <div class="articleContent">

        <div class="articleThumbnail thumbnail articleItemSpacing">
            image
        </div>

        <div class="articleHeadline articleItemSpacing">
            sdaçldkfh sldikfildfifjn kdljooie
        </div>

        <div class="articleIntro articleItemSpacing">
            talskdfjksd skckcvhjdv sdldfhjsldfkh ldksdkljf jslidfjkl sdf sdkldfsjisen ffosifd sdljkfaçlksadosdf h
            afsdfj nsdçisdhnpaosdfiu pn pdsfo n
        </div>
    </div>

</article>