@{
    ViewBag.Title = "Home Page";
}

<article class="articleEntry container">

    <div class="articleSideBar">-</div>

    <div class="articleContent">

        <div class="articleThumbnail thumbnail ">
            image
        </div>

        <div class="articleHeadline">
            sdaçldkfh sldikfildfifjn kdljooie
        </div>

        <div class="articleIntro">
            talskdfjksd skckcvhjdv sdldfhjsldfkh ldksdkljf jslidfjkl sdf sdkldfsjisen ffosifd sdljkfaçlksadosdf h
            afsdfj nsdçisdhnpaosdfiu pn pdsfo n
        </div>
    </div>

</article>


<article class="articleEntry container">

    <div class="articleSideBar">-</div>

    <div class="articleContent">

        <div class="articleThumbnail thumbnail ">
            image
        </div>

        <div class="articleHeadline">
            sdaçldkfh sldikfildfifjn kdljooie
        </div>

        <div class="articleIntro">
            talskdfjksd skckcvhjdv sdldfhjsldfkh ldksdkljf jslidfjkl sdf sdkldfsjisen ffosifd sdljkfaçlksadosdf h
            afsdfj nsdçisdhnpaosdfiu pn pdsfo n
        </div>
    </div>

</article>